fastapi
uvicorn
pydantic
motor
python-dotenv
bcrypt
pydantic[email]
okama
# empyrial
jinja2
python-multipart

# ----
passlib
bcrypt
python-jose
python-multipart
sqlalchemy
aiomysql
httpx
pytest
mpld3
plotly